<h1>Listing companies</h1>

<table class='data-list'>
  <tr>
    <th>title</th>
    <th>Description</th>
    <th>status</th>
    <th>updated at</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

  <% @collection.each do |company| %>
   <%= render :partial =>'row', :locals => {:obj => company} %>
  <% end %>
</table>
<%= will_paginate(@collection) %>

<div class='dialog-window'></div>
<br />

<%= link_to 'New Company', new_admin_company_path, :remote => true %>


