<h1>Listing balances</h1>

<table class='data-list'>
  <thead>
  <tr>
    <th>balance_date</th>
    <th>channel_bumber</th>
    <th>count</th>
    <th>product_id</th>
    <th>client_id</th>
    <th>balance_id</th>
    <th>agreement_id</th>
    <th>price</th>
    <th>amount</th>
    <th>remark</th>
    <th>status</th>
    <th>update_at</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>
  </thead>
  <tbody>
  <% @collection.each do |balance| %>
   <%= render :partial =>'row', :locals => {:balance => balance} %>
  <% end %>
  </tbody>
</table>
<%= will_paginate(@collection) %>

<div class='dialog-window'></div>
<br />


