<h1>Listing agreement</h1>

<table class='data-list'>
  <thead>
  <tr>
    <th>company_id</th>
    <th>client_id</th>
    <th>product_id</th>
    <th>agreement_start</th>
    <th>agreement_end</th>
    <th>agreement_sign at</th>
    <th>price</th>
    <th>status</th>
    <th>updated at</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>
  </thead>
  <tbody>

  <% @collection.each do |agreement| %>
   <%= render :partial =>'row', :locals => {:obj => agreement} %>
  <% end %>
  </tbody>
</table>
<%= will_paginate(@collection) %>

<div class='dialog-window'></div>
<br />

<%= link_to 'New Agreement', new_admin_agreement_path, :remote => true %>


