@import 'def_colors';

table.data-list {
	thead{ background-color: $bg3;color:white;
		th {background-color: $bg3;border:solid 1px $bd1; text-align:center;
			a, a:link, a:visited {color: white;}
		}
	}
	border-width: 1px;
	border-style: solid;
	border-color: $bd1;
	border-collapse: collapse;
	tbody{
		td {
			border-width: 1px;
			padding: 4px;
			border-style: solid;
			border-color: $bd1;
			background-color: $bg1;
			-moz-border-radius: 3px;
		}
		tr:nth-child(even) td, tr.even td {
			background: $bg2;
		}
		tr:hover td {background-color: $bg_highline;}
	}	
}

div.data-pager {
	border-top: solid 1px $bd1;
	border-left: solid 1px $bd1;
	border-right: solid 1px $bd1;
	padding: 6px;
	margin-top: 6px;
}
