$ptn_1: #FFFFFF;
$ptn_2: #E7E7E7;
$ptn_3: #F1F9E2;
$ptn_4: #FF6600;
$ptn_5: #78B116;

$ptn1: #e4eee0;
$ptn2: #C8E0C0;
$ptn3: #4C773E;
$ptn4: #ffffcc;
$ptn5: #dedeb8;

$bg1: $ptn1;
$bg2: $ptn2;
$bg3: $ptn3;
$bg_highline: $ptn4;
$bd1: white;
$bd2: $ptn3;
$bd3: $ptn5;

$bg_color_block: $ptn_5;
$bg_color_hot:   $ptn_4;
$bg_color_focus: $ptn_4;



