#page_header{
	background-color:#315ca1;
	height:60px;
}
#page_footer{
	background-color:#315ca1;
	height:50px;
}
#page_body{
	background-color:#EEF0EC;
	height:500px;
}
#htmlbody{
background-color:#315ca1;	
}
 .main_menu{
	padding-left:100px; padding: 20px;
}
.main_menu li{float: left;width:80px;border:solid 1px #ccc;list-style: none;text-align: center;}
.main_menu li:hover{background-color:lightYellow;}
.main_menu li a {color:white;text-decoration: none;}