<h2>产品列表</h2>

<table class='data-list'>
  <thead>
  <tr>
    <th>产品名称</th>
    <th>描述</th>
    <th>渠道号</th>
    <th>状态</th>
    <th>更改时间</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>
</thead>
<tbody>
  <% @collection.each do |product| %>
   <%= render :partial =>'row', :locals => {:obj => product} %>
  <% end %>
</tbody>
</table>
<%= will_paginate(@collection) %>

<div class='dialog-window'></div>
<br />

<%= link_to '新建产品', new_admin_product_path, :remote => true %>


