<h1>Listing channel</h1>

<table class='data-list'>
  <tr>
    <th>client_id</th>
    <th>channel_number</th>
    <th>product_id</th>
    <th>remark</th>
    <th>status</th>
    <th>updated at</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

  <% @collection.each do |channel| %>
   <%= render :partial =>'row', :locals => {:obj => channel} %>
  <% end %>
</table>
<%= will_paginate(@collection) %>

<div class='dialog-window'></div>
<br />

<%= link_to 'New Channel', new_admin_channel_path, :remote => true %>


